body {
    font-family: Verdana;
    margin: 0;
    background-color: black;
    color: orange;
}

header {
    background-color: red;
    color: #fff;
    padding: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 150px;
}

.header-center {
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.header-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
}

.header-buttons button:hover {
    background-color: #0056b3;
}

.produto-destaque {
  background-color: #f0f0f0; 
  padding: 20px; 
  width: 400px; 
  margin-left: 50px; 
  display: flex; 
  align-items: center; 
}

.produto-destaque img {
    max-width: 120px;
    margin-right: 20px;
}

.descricao-produto h3 {
  margin-top: 0; 
  color: black;
}

footer {
    background-color: red;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}