body {
    font-family: Verdana;
    margin: 0;
    background-color: black;
    color: orange;
}

header {
    background-color: red;
    color: #fff;
    padding: 10px;
}

.header-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 150px;
}

.header-centro {
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.header-botoes button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
}

.header-botoes button:hover {
    background-color: #0056b3;
}

.produto-destaque-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.produto-destaque {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.produto-destaque:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.produto-destaque img {
    max-width: 120px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.produto-destaque a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.produto-destaque a:hover {
    background-color: #eee;
    color: #007bff;
}

.descricao-produto h3 {
    margin-top: 0;
    color: black;
}

footer {
    background-color: red;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h2 {
    margin-left: 50px;
}

div {
    word-wrap: break-word;
}